<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.code.androidrome.demo">
  <application android:icon="@drawable/icon" android:label="rome-on-android-demo">
    <activity android:name=".MyActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

  <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
